@font-face {
    font-family: star;
    src: url(/fonts/star.woff);
}
/* variables */
:root {
  --background-light: #f1f1f1;
  --background-dark: #000;
  --text-light: #000;
  --text-dark: #f1f1f1;
}
::selection{
    background-color: #df453e;
    color: white;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.app {
  background-color: var(--background-dark);
  color: var(--background-light);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  transition: 0.3s all;
}
.app.dark {
  background-color: var(--background-dark);
  color: var(--background-light);
  transition: 0.3s all;
}

.loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transition: 0.3s all;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10012;
  background: var(--background-light);
}
.app.dark .loading-container {
  background: var(--background-dark);
}
.loading-container.active {
  opacity: 1;
  pointer-events: all;
  transition: 0.3s all;
}
.moder {
  position: absolute;
  top: 20px;
  right: 20px;
}

.main-container {
  width: 100%;
  height: 100vh;
  margin-top: auto;
  margin-bottom: auto;
  transition: 0.3s all;
  overflow: auto;
  overflow-x: hidden;
}
.main-container.active {
  opacity: 1;
  pointer-events: all;
  transition: 0.3s all;
}
.navbar-logo {
  width: fit-content;
  display: flex;
}
.navbar-logo img {
  width: 70px;
}

.navbar {
    transition: 0.3s all;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 20px;
  font-family: "Roboto";
  z-index: 1001;
}
#content-bg {
  min-height: 100vh;
  box-shadow: 0px 0px #00000070;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 0px;
  margin-right: 0px;
  overflow: visible;
  order: initial;
  border-color: inherit;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
  background-image: url("/bike-hero.webp");
  row-gap: 0px;
  position: relative;
}
#content-bg::before {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-color: inherit;
  background-image: linear-gradient(90deg, #161616 50%, #df453e 50%);
  background-size: 200% 100%; 
  background-repeat: repeat-x;
  opacity: 0.67;
  animation: jackpotRoller 3s cubic-bezier(0.62, -0.02, 0.3, 0.95) 1.5s forwards;
}
#content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 2rem;
  padding: 70px 20px;
  padding-right: 65%;
  text-align: center;
  z-index: 1000;
}
.navbar .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 0px auto;
  transition: 0.3s all;
}
.nav-link {
  font-size: 1rem;
}
.cart-btn {
  position: relative;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-family: "Roboto";
  cursor: pointer;
  gap: 1rem;
}
.cart-count {
  position: absolute;
  top: -30%;
  right: -10%;
  background: white;
  color: black;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: bold;
  font-family: "Roboto";
}
.cart-cost{
  font-weight: bold;
  font-family: "Roboto";
}
.super-title {
  font-size: 2rem;
  line-height: 1.2em;
  font-family: "Racing Sans One", display;
  font-weight: 400;
  margin-bottom: 1.2rem;
  text-align: left;
}
.website-title {
    font-size: 5.3125rem;
    font-weight: 500;
    font-family: 'Racing Sans One', display;
    line-height: 1.4em;
  margin-bottom: 6px;
  
  text-align: left;
}
.sub-title {
  font-size: 1.375rem;
  line-height: 1.2em;
  font-family: "Racing Sans One", display;
  font-weight: 400;
  text-align: left;
  margin-bottom: 15px;
}
.specifications {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.spec-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.spec-item svg {
  width: 16px;
  fill: #fff;
}
.spec-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-align: left;
}
.primary-btn {
  padding: 15px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.2s ease;
  background-color: #df453e;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1em;
  text-transform: uppercase;
  font-size: 16px;
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
}
.primary-btn:hover{
    background-color: #df453e99;
}
#new-arrivals{
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    max-width: 100vw;
    width: 100vw;
    background-color: white;
    padding-top: 120px;
        padding-bottom: 35px;
        padding-left: 30px;
        padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.section-title{
    color: #161616;
    font-size: 3.625rem;
    font-weight: 400;
    font-family: 'Racing Sans One', display;
    line-height: 1.3em;
    text-align: center;
}
.bike-cards{
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    flex-wrap: wrap;
}
.bike-card{
    margin-bottom: 2.5em;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    position: relative;
    color: black;
    width: fit-content;
    max-width: 230px;
    cursor: pointer;
    
}
.bike-rating{
    position: relative;
    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1;
    font-size: 0.8em;
    width: 5.4em;
    font-family: star;
    margin: 0 auto .5em 0;
}
.bike-rating::before{
    content: "\73\73\73\73\73";
    color: #4b4f58;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
}
.bike-image{
    width: fit-content;
}
.bike-image img{
    width: 100%;
}
.bike-tag{
    font-size: .85em;
    display: block;
    line-height: 1.3;
    opacity: .6;
    margin-bottom: 0.5em;
    font-weight: 500;
    margin-top: 0.65em;
    width: fit-content;
    color: #4b4f58;
}
.bike-title{
    font-weight: 400;
    font-family: 'Racing Sans One', display;
    line-height: 1.3em;
    margin-bottom: .5em;
    padding: 0;
    font-size: 1em;
    width: fit-content;
}
.bike-cost{
    width: fit-content;
    line-height: 1.3;
    margin-bottom: 0;
    font-weight: 700;
    margin-bottom: .5em;
    font-size: .9em;
    color: #4b4f58;
}
.bike-cost bdi{
    color: #4b4f58;
    font-size: .9em;
    line-height: 1.3;
    margin-bottom: 0;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
}
.navbar-medium-toggle{
  cursor: pointer;
}
.navbar-small{
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  background-color: #df453e;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s all;
}
.navbar-small.active{
  opacity: 1;
  top: 100%;
  pointer-events: all;
  transition: 0.3s all;
}
@media (max-width: 1038px) {
    .super-title{
        font-size: 1.375rem;
    }
    .website-title{
        font-size: 65px;
    }
    #content{
        justify-content: center;
    }
}
@media (max-width: 992px) {
    #new-arrivals{
        padding-top: 60px;
        padding-bottom: 35px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .section-title{
        font-size: 2.625rem;
    }
    
    .navbar .nav-links {
        gap: 1rem;
        transition: 0.3s all;
    }
    
}
@media (max-width: 768px) {
  #content{
    justify-content: start;
  }
  
}
@media (max-width: 576px) {
  #content{
    
    padding-right: 25%;
  }
  .website-title{
    /* line-height: 1em; */
  }
  .super-title{
    text-align: left;
  }
  .spec-text{
    text-align: left;
  }
  .navbar .nav-links{
    flex-direction: column;
    width: 100%;
    gap: 0px;
  }
  .nav-link{
    width: 100%;
    text-align: center;
    padding: 5px;
  }
  .nav-link:hover{
    background-color: white;
    color: #df453e;
  }
  
}
@media (max-width: 381px) {
  #content{
    padding-right: 0px;
  }
}

@keyframes jackpotRoller {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 250% 50%;
  }
}